<div class="columns small-centered large-6 text-center mb-3">
  <br>
  <h3 class="text" style="font-size:1.8rem;line-height:1.9">
  ¿Sabes qué es lo que viene ahora en el proceso constituyente?
  </h3>
  <h3 class="text" style="font-size:1.8rem;line-height:1.9">
  Aquí te contamos todo lo que tienes que saber, en qué consisten los próximos hitos y lo más importante cómo podemos participar.
  </h3>
</div>
<div class="row">
  <div class="columns small-centered large-10 text-center mb-3">

    <iframe width="720" height="405" src="https://www.youtube.com/embed/pEtdwlzSVhw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<section id="processes" class="wrapper-home home-section bg-wall section-center section-padding-8">
  <div class="row">
    <div class="columns small-centered large-10 text-center mb-3">
      <h2 class="text-uppercase" style="font-size:2.2rem;line-height:1.1">Noticias</h2>
    </div>
    <div class="row collapse">
      <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
        large-up-3 card-grid">



        <div class="column">
            <article class="card card--post">
              <div class="card__content">
              <div class="card__header">
              <div class="card__image-top"
                  style="background-image:url(https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/153/big_cabezal_PO_tw__1_.jpg)"></div>
              <a class="card__link" href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/51">
                <h5 class="card__title">
                  Lanzan contenidos de formación ciudadana para el proceso constituyente en lenguas indígenas y creole
                </h5>
              </a>

                </div>
                <p>El material fue elaborado desde Ahora Nos Toca Participar, CONSTI TU+YO y GIESCR y está interpretado al mapuzungun, aymara, rapanui y traducido al creole.<br> <a href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/51">Leer más</a></p>
                </div>
            </article>
        </div>

        <div class="column">
            <article class="card card--post">
              <div class="card__content">
              <div class="card__header">
              <div class="card__image-top"
                  style="background-image:url(https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/154/big_Facebook.png)"></div>
              <a class="card__link" href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/52">
                <h5 class="card__title">
                  Revisa nuestro KIT Elecciones Mayo 2021 realizado en conjunto con Balloon Latam
                </h5>
              </a>

                </div>
                <p>Todo lo que necesitas saber para las próximas elecciones de Mayo 2021 en un sólo documento.<br> <a href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/52">Leer más</a></p>
                </div>
            </article>
        </div>

        <div class="column">
            <article class="card card--post">
              <div class="card__content">
              <div class="card__header">
              <div class="card__image-top"
                  style="background-image:url(https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/155/big_ParticipamosTodxs.png)"></div>
              <a class="card__link" href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/53">
                <h5 class="card__title">
                  Atención candidato/a ¡Te estamos buscando! Firma los compromisos de #ParticipamosTodxs
                </h5>
              </a>

                </div>
                <p>¡Ayúdanos a llegar a candiatos y candidatas a la Convención para que firmen compromisos por una participación ciudadana inclusiva!<br> <a href="https://ahoranostocaparticipar.cl/processes/noticias/f/6/posts/53">Leer más</a></p>
                </div>
            </article>
        </div>



      </div>
    </div>
  </div>
</section>


<section id="processes" class="wrapper-home home-section bg-wall section-center section-padding-8">
  <div class="row">
    <div class="columns small-centered large-10 text-center mb-3">
      <h2 class="text-uppercase" style="font-size:2.2rem;line-height:1.0">Actividades</h2>
    </div>
    <div class="row collapse">
      <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
        large-up-3 card-grid">



        <div class="column">
            <article class="card card--post">
              <div class="card__content">
              <div class="card__header">
              <div class="card__image-top"
                  style="background-image:url(https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/119/big_Taller_1801_Araucania.png)"></div>
              <a class="card__link" href="https://ahoranostocaparticipar.cl/processes/actividades/f/11/meetings/36">
                <h5 class="card__title">
                  Taller de Formación Ciudadana: ¿Qué viene ahora en el proceso constituyente?
                </h5>
              </a>

                </div>
                <p>Desde Ahora Nos Toca Participar (ANTP) en la Región de La Araucanía, te invitamos a participar del Taller de Formación: ¿Qué viene ahora en el proceso constituyente? <br> <a href="https://ahoranostocaparticipar.cl/processes/actividades/f/11/meetings/36">Leer más</a></p>
                </div>
            </article>
        </div>

        <div class="column">
            <article class="card card--post">
              <div class="card__content">
              <div class="card__header">
              <div class="card__image-top"
                  style="background-image:url(https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/120/big_Taller_1901_Magallanes__1_.jpg)"></div>
              <a class="card__link" href="https://ahoranostocaparticipar.cl/processes/actividades/f/11/meetings/37">
                <h5 class="card__title">
                  Taller de Formación Ciudadana sobre Proceso Constituyente: ¿Dónde estamos y qué es lo que viene?
                </h5>
              </a>

                </div>
                <p>Los Consejos regionales de "Ahora Nos Toca Participar" de la región Metropolitana, Aysén y Magallanes te invitan a participar del Taller de Formación ciudadana "Proceso Constituyente: ¿Dónde estamos y qué es lo que viene? <br> <a href="https://ahoranostocaparticipar.cl/processes/actividades/f/11/meetings/37">Leer más</a></p>
                </div>
            </article>
        </div>

        <div class="column">
            <article class="card card--post">
              <div class="card__content">
              <div class="card__header">
              <div class="card__image-top"
                  style="background-image:url(https://ahoranostocaparticipar.cl/uploads/decidim/attachment/file/121/big_Taller_Dirigentxs_2001.jpg)"></div>
              <a class="card__link" href="https://ahoranostocaparticipar.cl/processes/actividades/f/11/meetings/38">
                <h5 class="card__title">
                  Taller de Formación Ciudadana para dirigentxs sociales sobre Proceso Constituyente: ¿Dónde estamos y qué es lo que viene?
                </h5>
              </a>

                </div>
                <p>El Consejo regional de "Ahora Nos Toca Participar" de la región Metropolitana y la organización Junto al Barrio te invitan a participar del Taller de Formación ciudadana para dirigentes y dirigentas sociales "Proceso Constituyente: ¿Dónde estamos y qué es lo que viene? <br> <a href="https://ahoranostocaparticipar.cl/processes/actividades/f/11/meetings/38">Leer más</a></p>
                </div>
            </article>
        </div>


      </div>
    </div>
  </div>
</section>

<section id="processes" class="wrapper-home home-section bg-wall section-center section-padding-8">
  <div class="row" id="highlighted-processes">
    <div class="columns small-centered large-10 text-center mb-3">
      <h2 class="text-uppercase" style="font-size:2.2rem;line-height:1.1">¿Qué puedes hacer en Ahora Nos Toca Participar?</h2>
    </div>
    <div class="row collapse">
      <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3
        large-up-4 card-grid">
        <% highlighted_processes.each do |process| %>
          <div class="column">
            <article class="card card--process card--mini">
              <%= link_to decidim_participatory_processes.participatory_process_path(process), class: "card__link" do %>
                <span class="show-for-sr"><%= translated_attribute process.title %></span>
                <div class="card__image-top"
                  style="background-image:url(<%= process.hero_image.url %>)"></div>
              <% end %>
              <div class="card__content">
                <%= link_to decidim_participatory_processes.participatory_process_path(process), class: "card__link" do %>
                  <h5 class="card__title"><%= decidim_html_escape(translated_attribute(process.title)) %></h5>
                <% end %>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
